#example1 {
    border: 1px solid black;
    background:url(pr1.jpg);
    background-size: 100px 80px;
    background-repeat: no-repeat;
    padding:15px;
}

#example2 {
    border: 1px solid black;
    background:url(img_flwr.gif);
    background-repeat: no-repeat;
    padding:15px;
}
header{
    background-image: url(pr1.jpg)
}
h2{
    font-family:serif;
}